html {
  scroll-behavior: smooth;
  /* padding-bottom: 310px; */
}

body {
  font-family: 'Playfair Display', serif;
  font-family: 'Rubik', sans-serif;
  font-family: 'Ubuntu', sans-serif;
  font-size: 16px;
  line-height: 1.6;
  color: #333; /* Adjust the text color to your preference */
}

h1, h2, h3 {
  font-weight: bold;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2); /* Optional */
}

h1 {
  /* border: 1px solid red; */
  font-size: 60px;
  margin: 0;
}

h2 {
  /* border: 1px solid red; */
  margin: 0;
  font-size: 40px;
}

h3 {
  font-size: 24px;
}

p {
  margin: 0;
  font-size: 35px;
}

.App {
  text-align: center;
}

.App-header {
  padding-top: 100px;
  height: 66.67vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: left;
  
  background-color: #688eda;
  font-size: calc(10px + 2vmin);
  color: white;
}



.logo-container {
  position: absolute;
  top: 25px; /* Adjust the top position as needed */
  left: 260px; /* Adjust the left position as needed */
}

.logo {
  border-radius: 10px;
  max-width: 200px; /* Adjust the logo's max width as needed */
}

.me {
  /* border: 1px solid red; */
  text-align: center;
}




.scroll-to-top-button {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 70px; /* Set the initial width of the image */
  height: 70px; /* Set the initial height of the image */
  cursor: pointer;
  transition: transform 0.3s ease; /* Add a smooth transition effect */
  z-index: 1;
}

/* Apply the scale transform when hovering */
.scroll-to-top-button:hover {
  transform: scale(1.2); /* Increase the size by 20% (adjust as needed) */
  /* background-color: #0056b3; */
}


@media (max-width: 1520px) {
  h1 {
    font-size: 40px;
  }
  h2 {
    font-size: 35px;
  }
  p {
    font-size: 24px;
  }
  .logo-container {
    top: 25px; /* Adjust the top position as needed */
    left: 170px;
  }
  .logo {
    border-radius: 10px;
    max-width: 170px; /* Adjust the logo's max width as needed */
  }
  .me {
    max-width: 950px; /* Adjust the max-width as needed */
    font-size: 25px;
  }
}

@media (max-width: 1370px) {
  h1 {
    font-size: 35px;
  }
  h2 {
    font-size: 30px;
  }
  p {
    font-size: 22px;
  }
  .logo-container {
    top: 25px; /* Adjust the top position as needed */
    left: 170px;
  }
  .logo {
    border-radius: 10px;
    max-width: 150px; /* Adjust the logo's max width as needed */
  }
  .me {
    max-width: 950px; /* Adjust the max-width as needed */
    font-size: 25px;
  }
}

@media (max-width: 1200px) {
  h1 {
    font-size: 35px;
  }
  h2 {
    font-size: 30px;
  }
  p {
    font-size: 20px;
  }
  .logo-container {
    top: 25px; /* Adjust the top position as needed */
    left: 150px;
  }
  .logo {
    border-radius: 10px;
    max-width: 100px; /* Adjust the logo's max width as needed */
  }
  .me {
    max-width: 750px; /* Adjust the max-width as needed */
    font-size: 20px;
  }
}

@media (max-width: 940px) {
  h1 {
    font-size: 30px;
  }
  h2 {
    font-size: 25px;
  }
  p {
    font-size: 18px;
  }
  .logo-container {
    top: 25px; /* Adjust the top position as needed */
    left: 125px;
  }
  .logo {
    border-radius: 10px;
    max-width: 90px; /* Adjust the logo's max width as needed */
  }
  .me {
    max-width: 700px; /* Adjust the max-width as needed */
    font-size: 20px;
  }
}

@media (max-width: 720px) {
  h1 {
    font-size: 25px;
  }
  h2 {
    font-size: 20px;
  }
  p {
    font-size: 15px;
  }
  .logo-container {
    top: 25px; /* Adjust the top position as needed */
    left: 35px;
  }
  .logo {
    border-radius: 10px;
    max-width: 90px; /* Adjust the logo's max width as needed */
  }
  .me {
    max-width: 410px; /* Adjust the max-width as needed */
    font-size: 20px;
  }
}

@media (max-width: 540px) {
  h1 {
    font-size: 20px;
  }
  h2 {
    font-size: 18px;
  }
  p {
    font-size: 12px;
  }
  .logo-container {
    top: 25px; /* Adjust the top position as needed */
    left: 20px;
  }
  .logo {
    border-radius: 10px;
    max-width: 70px; /* Adjust the logo's max width as needed */
  }
  .me {
    max-width: 300px; /* Adjust the max-width as needed */
    /* font-size: 20px; */
  }
}